<!DOCTYPE html>
<html>
<head>
<link href="css/vuetify.min.css" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>
<body>
<div id="app">
<v-app>
   <v-form v-model="valid">
    <v-container
    fluid
    grid-list-sm
    tag="section"
    id="grid">
    <v-subheader><v-text class="bold">Family</v-text></v-subheader>
    <v-layout row wrap>
     <v-flex xs2 v-for="i in 1" :key="`4${i}`">
   <v-text-field
     label="TRACKING NUMBER"
     v-model="trackingnumber"
     :rules="trackingnumberRules"
     :counter="10"
     required>
     <v-card-text class="px-0">4</v-card-text>
        </v-card>
   </v-text-field>
 </v-flex>
  <v-flex xs2 v-for="i in 1" :key="`4${i}`">
   <v-text-field
     label="SERIES NUMBER"
     v-model="seriesnumber"
     :rules="seriesnumberRules"
     required
   ></v-text-field>
 </v-flex>

 <div class="text-xs-center">
    <v-menu offset-y>
      <v-btn slot="activator">LGU</v-btn>
      <v-list>
        <v-list-tile v-for="item in items" :key="item.title" @click="">
          <v-list-tile-title>{{ item.title }}</v-list-tile-title>
        </v-list-tile>
      </v-list>
    </v-menu>
  </div>
<div class="text-xs-center">
    <v-menu offset-y>
      <v-btn slot="activator">Barangay</v-btn>
      <v-list>
        <v-list-tile v-for="item in items" :key="item.title" @click="">
          <v-list-tile-title>{{ item.title }}</v-list-tile-title>
        </v-list-tile>
      </v-list>
    </v-menu>
  </div>
<v-flex xs3 v-for="i in 1" :key="`4${i}`">
    <v-text-field
     label="ADDRESS"
     v-model="adress"
     :rules="adressRules"
     :counter="100"
     required>
     </v-text-field>
   </v-flex>
   <div class="text-xs-center">
    <v-menu offset-y>
      <v-btn slot="activator">GOVERNMENT AND RECEIVED</v-btn>
      <v-list>
        <v-list-tile v-for="item in items" :key="item.title" @click="">
          <v-list-tile-title>{{ item.title }}</v-list-tile-title>
        </v-list-tile>
      </v-list>
    </v-menu>
  </div>
 </v-layout>

<v-layout row wrap>
     <v-flex xs3 v-for="i in 1" :key="`4${i}`">
   <v-text-field
     label="NUMBER OF FEMALE CHILDREN"
     v-model="femalechild"
     :rules="femalechildRules"
     required>
     <v-card-text class="px-0">4</v-card-text>
        </v-card>
   </v-text-field>
 </v-flex>
   <v-flex xs3 v-for="i in 1" :key="`4${i}`">
   <v-text-field
     label="NUMBER OF MALE CHILDREN"
     v-model="malechild"
     :rules="malechildRules"
     required>
     <v-card-text class="px-0">4</v-card-text>
        </v-card>
   </v-text-field>
 </v-flex>
   <v-flex xs2 v-for="i in 1" :key="`4${i}`">
   <v-text-field
     label="TRIBE NAME"
     v-model="tribename"
     :rules="tribenameRules"
     required>
     <v-card-text class="px-0">4</v-card-text>
        </v-card>
   </v-text-field>
 </v-flex>
   <v-flex xs2 v-for="i in 1" :key="`4${i}`">
   <v-text-field
     label="TRIBE TYPE"
     v-model="tribetype"
     :rules="tribetypeRules"
     required>
     <v-card-text class="px-0">4</v-card-text>
        </v-card>
   </v-text-field>
 </v-flex>
   <v-flex xs2 v-for="i in 1" :key="`4${i}`">
   <v-text-field
     label="MAP POINTS"
     v-model="mappoints"
     :rules="mappointsRules"
     required>
     <v-card-text class="px-0">4</v-card-text>
        </v-card>
   </v-text-field>
 </v-flex>
</v-layout>

<v-spacer></v-spacer>
<v-subheader><v-text class="bold">head</v-text></v-subheader>
<v-layout row wrap>
     <v-flex xs2 v-for="i in 1" :key="`4${i}`">
   <v-text-field
     label="NAME"
     v-model="name"
     :rules="nameRules"
     :counter="20"
     required>
     <v-card-text class="px-0">4</v-card-text>
        </v-card>
   </v-text-field>
 </v-flex>
     <v-flex xs2 v-for="i in 1" :key="`4${i}`">
   <v-text-field
     label="BIRTHDATE"
     v-model="bdate"
     :rules="bdateRules"
     required>
     <v-card-text class="px-0">4</v-card-text>
        </v-card>
   </v-text-field>
 </v-flex>
   <v-flex xs2 v-for="i in 1" :key="`4${i}`">
   <v-text-field
     label="CONTACT NUMBER"
     v-model="contact"
     :rules="contactRules"
     required>
     <v-card-text class="px-0">4</v-card-text>
        </v-card>
   </v-text-field>
 </v-flex>
   <v-flex xs2 v-for="i in 1" :key="`4${i}`">
   <v-text-field
     label="MOBILE NUMBER"
     v-model="mobile"
     :rules="mobileRules"
     required>
     <v-card-text class="px-0">4</v-card-text>
        </v-card>
   </v-text-field>
 </v-flex>
   <div class="text-xs-center">
    <v-menu offset-y>
      <v-btn slot="activator">GENDER</v-btn>
      <v-list>
        <v-list-tile v-for="item in items" :key="item.title" @click="">
          <v-list-tile-title>{{ item.title }}</v-list-tile-title>
        </v-list-tile>
      </v-list>
    </v-menu>
  </div>
   <v-flex xs3 v-for="i in 1" :key="`4${i}`">
   <v-text-field
     label="CIVIL STATUS"
     v-model="cs"
     :rules="csRules"
     required>
     <v-card-text class="px-0">4</v-card-text>
        </v-card>
   </v-text-field>
 </v-flex>
</v-layout>
<v-layout row wrap>
     <v-flex xs6 v-for="i in 1" :key="`4${i}`">
   <v-text-field
     label="RELIGION"
     v-model="religion"
     :rules="religionRules"
     required>
     <v-card-text class="px-0">4</v-card-text>
        </v-card>
   </v-text-field>
 </v-flex>
     <v-flex xs6 v-for="i in 1" :key="`4${i}`">
   <v-text-field
     label="BLOOD TYPE"
     v-model="blood"
     :rules="bloodRules"
     required>
     <v-card-text class="px-0">4</v-card-text>
        </v-card>
   </v-text-field>
 </v-flex>
</v-layout>
<v-layout row wrap>
<v-subheader><v-text class="bold">Spouse</v-text></v-subheader>
<v-btn class="grey" icon>
<v-icon color="white">fas fa-plus-circle</v-icon>
</v-btn>
</v-layout>
<v-layout row wrap>
<v-flex xs2 v-for="i in 1" :key="`4${i}`">
   <v-text-field
     label="NAME"
     v-model="name"
     :rules="nameRules"
     :counter="20"
     required>
     <v-card-text class="px-0">4</v-card-text>
        </v-card>
   </v-text-field>
 </v-flex>
 <v-flex xs2 v-for="i in 1" :key="`4${i}`">
   <v-text-field
     label="CONATCT NUMBER"
     v-model="contact"
     :rules="contactRules"
     required>
     <v-card-text class="px-0">4</v-card-text>
        </v-card>
   </v-text-field>
 </v-flex>
 <v-flex xs2 v-for="i in 1" :key="`4${i}`">
   <v-text-field
     label="BLOODTYPE"
     v-model="blood"
     :rules="bloodRules"
     required>
     <v-card-text class="px-0">4</v-card-text>
        </v-card>
   </v-text-field>
 </v-flex>
 <v-flex xs2 v-for="i in 1" :key="`4${i}`">
   <v-text-field
     label="BIRTHDATE"
     v-model="bdate"
     :rules="bdateRules"
     required>
     <v-card-text class="px-0">4</v-card-text>
        </v-card>
   </v-text-field>
 </v-flex>
 <v-flex xs2 v-for="i in 1" :key="`4${i}`">
   <v-text-field
     label="EDUCATIONAL ATTAINMENT"
     v-model="educ"
     :rules="educRules"
     required>
     <v-card-text class="px-0">4</v-card-text>
        </v-card>
   </v-text-field>
 </v-flex>
 <v-flex xs2 v-for="i in 1" :key="`4${i}`">
   <v-text-field
     label="RELIGION"
     v-model="religion"
     :rules="religionRules"
     required>
     <v-card-text class="px-0">4</v-card-text>
        </v-card>
   </v-text-field>
 </v-flex>
</v-layout>

<v-layout row wrap>
<v-subheader><v-text class="bold">Dependents</v-text></v-subheader>
<v-btn class="grey" icon>
<v-icon color="white">fas fa-plus-circle</v-icon>
</v-btn>
</v-layout>

<v-layout row wrap>
 <v-flex xs3 v-for="i in 1" :key="`4${i}`">
   <v-text-field
     label="NAME"
     v-model="name"
     :rules="nameRules"
     :counter="20"
     required>
     <v-card-text class="px-0">4</v-card-text>
        </v-card>
   </v-text-field>
 </v-flex>
  <v-flex xs3 v-for="i in 1" :key="`4${i}`">
   <v-text-field
     label="BIRTHDATE"
     v-model="bdate"
     :rules="bdateRules"
     required>
     <v-card-text class="px-0">4</v-card-text>
        </v-card>
   </v-text-field>
 </v-flex>
  <div class="text-xs-center">
    <v-menu offset-y>
      <v-btn slot="activator">GENDER</v-btn>
      <v-list>
        <v-list-tile v-for="item in items" :key="item.title" @click="">
          <v-list-tile-title>{{ item.title }}</v-list-tile-title>
        </v-list-tile>
      </v-list>
    </v-flex>
    </v-menu>
  </div>
  <v-flex xs3 v-for="i in 1" :key="`4${i}`">
   <v-text-field
     label="RELATION"
     v-model="relation"
     :rules="relationRules"
     required>
     <v-card-text class="px-0">4</v-card-text>
        </v-card>
   </v-text-field>
</v-layout>

 </v-form>
</v-container>
 </v-app>
</div>
<script src="js/vue.js"></script>
<script src="js/vuetify.js"></script>
<script src="js/all.js"></script>
<script>
new Vue({
 el: '#app',
 data() {
   return {
     valid: false,
     trackingnumber: '',
     trackingnumberRules: [
       v => !!v || 'Tracking number is required',
       v => v.length <= 10 || 'Name must be less than 10 characters'
     ],
     seriesnumber: '',
     seriesnumberRules: [
       v => !!v || 'Series number is required',
       v => /^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,3})+$/.test(v) || 'E-mail must be valid'
     ],
     adress:'',
     adressRules: [
       v => !!v || 'Adress is required',
       v => v.length <= 100 || 'Adress must be less than 10 characters'
     ],
      items: [
        { title: 'Click Me' },
        { title: 'Click Me' },
        { title: 'Click Me' },
        { title: 'Click Me 2' }
      ],
        name: '',
        nameRules: [
       v => !!v || 'Name is required',
       v => v.length <= 20 || 'Name must be less than 20 characters'
     ]
   }
 }
})
</script>
</body>
</html>